<!DOCTYPE html>
<html>

<head>
    <title>
        About
    </title>
    <link href="index.css" rel="stylesheet">
    <link rel="shortcut icon" href="#">
</head>

<body class="unselectable">
    <br><br><br><br><br><br><br>
    <div class="about-section">
        <h1>About This Website</h1>
        <p>Amusic is an Internet Music Database with a wide-collection of all your favourite albums and songs from
            acclaimed artists around the globe. Delve deep into your passion for music and follow the music artists you
            love through their artistic journies.</p>
        <p>Amusic lets you stay updated about all the new releases and trending hits through an easy to navigate
            interface where you can surf through an assorted list of artists, albums, and their songs.</p>
    </div>
    <br><br><br>
    <h1 style="text-align:center;color: white;font-size: 58px;">Meet the creators</h1>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="Picsart_23-04-09_16-28-46-599.jpg" alt="Shaunak" width="100%" style="border-radius:5%;">
                <div class="containerX">
                    <h2 style="color: white;">Shaunak</h2>
                    <p class="title">Founder & Web Design</p>
                    <a href="mailto:shaunak.biswas@research.iiit.ac.in">
                        <p><button class="button">Email</button></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="IMG_20221027_094735.jpg" alt="Shreyansh" width="100%" style="border-radius: 5%;">
                <div class="containerX">
                    <h2 style="color: white;">Shreyansh</h2>
                    <p class="title">Co-founder & Web Design</p>
                    <a href="mailto:shreyansh.bhanu@research.iiit.ac.in">
                        <p><button class="button">Email</button></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br>
    <script src="script.js"></script>
</body>

</html>