<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amusic</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="shortcut icon" href="#">
</head>

<body class="unselectable">

    <br><br><br><br><br><br>
    <div class="artist-info">
        <div class="artist-pic">
            <img src="../static/artist3/TheBeatles.webp" alt="Artist Name">
        </div>
        <div class="artist-details">
            <h2 id="typing-effect">The Beatles</h2>
            <h3>Rock and Roll</h3>
            <p>The Beatles were a British rock band that formed in the early 1960s and went on to become one of the most
                successful and critically acclaimed acts in the history of popular music, inspiring countless musicians
                and changing the face of rock and roll forever.
            </p>
        </div>
    </div>
    <br><br><br>
    <a href="s3AbbeyRoad.html" style="text-decoration: none;">
        <div class="fcontainer">
            <div class="fitem1">
                <img src="../static/artist3/AbbeyRoad.jpg" style="margin-right: 10%;border-radius: 10%;" height="300px"
                    width="300px">
                <div class="overlay" id="hoverborder3">
                </div>
            </div>
            <div class="fitem2 ">
                <p>Abbey Road</p>
                <div class="hiddendetails" ">
                    <p style=" font-size: 27px;"><br>17 Songs<br><br>Year of release: 1969</p>
                </div>
            </div>
        </div>
    </a>
    <br><br><br><br><br>
    <a href="s3RubberSoul.html" style="text-decoration: none;">
        <div class="fcontainer">
            <div class="fitem1">
                <img src="../static/artist3/RubberSoul.jpg" style="margin-right: 10%;border-radius: 10%;" height="300px"
                    width="300px">
                <div class="overlay" id="hoverborder3">
                </div>
            </div>
            <div class="fitem2 ">
                <p>Rubber Soul</p>
                <div class="hiddendetails" ">
                    <p style=" font-size: 27px;"><br>14 Songs<br><br>Year of release: 1965</p>
                </div>
            </div>
        </div>
    </a>
    <br><br><br><br><br>
    <a href="s3LetItBe.html" style="text-decoration: none;">
        <div class="fcontainer">
            <div class="fitem1">
                <img src="../static/artist3/LetItBe.jpg" style="margin-right: 10%;border-radius: 10%;" height="300px"
                    width="300px">
                <div class="overlay" id="hoverborder3">
                </div>
            </div>
            <div class="fitem2 ">
                <p>Let It Be</p>
                <div class="hiddendetails" ">
                    <p style=" font-size: 27px;"><br>12 Songs<br><br>Year of release: 1970</p>
                </div>
            </div>
        </div>
    </a>
    <br><br><br><br><br>
    <a href="s3Help.html" style="text-decoration: none;">
        <div class="fcontainer">
            <div class="fitem1">
                <img src="../static/artist3/Help.jpg" style="margin-right: 10%;border-radius: 10%;" height="300px" width="300px">
                <div class="overlay" id="hoverborder3">
                </div>
            </div>
            <div class="fitem2 ">
                <p>Help!</p>
                <div class="hiddendetails" ">
                    <p style=" font-size: 27px;"><br>14 Songs<br><br>Year of release: 1965</p>
                </div>
            </div>
        </div>
    </a>
    <br><br><br><br><br>
    <a href="s3YellowSubmarine.html" style="text-decoration: none;">
        <div class="fcontainer">
            <div class="fitem1">
                <img src="../static/artist3/YellowSub.jpg" style="margin-right: 10%;border-radius: 10%;" height="300px"
                    width="300px">
                <div class="overlay" id="hoverborder3">
                </div>
            </div>
            <div class="fitem2 ">
                <p>Yellow Submarine</p>
                <div class="hiddendetails" ">
                    <p style=" font-size: 27px;"><br>13 Songs<br><br>Year of release: 1999</p>
                </div>
            </div>
        </div>
    </a>
    <br><br><br><br><br><br><br>

    <script src="../static/script.js"></script>
</body>

</html>