<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amusic</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="shortcut icon" href="#">
</head>

<body class="unselectable">

    <br><br><br><br>
    <div style="display:flex;align-items:center;margin: 2%;">
        <img src="../static/artist2/Kamikaze.jpg"
            style="margin-left:10%;margin-right: 4%;border-radius: 10%; border: 2.5px solid white;" width="300px">
        <p style="margin-top:5%;color: white;font-size: 70px;">Kamikaze</p>
    </div>
    <div class="songbox"
        style="background-color: rgba(65, 149, 218, 0.452);padding-top: 1.3%;padding-bottom: 1.3%;margin-bottom: 1.5%;">
        <div style="display: flex; align-items: center;">
            <div style="font-size: 18px; color: white; margin-right: 10px;">Serial</div>
            <div style="flex: 1; text-align: center; color: white; font-size: 18px;">Song</div>
            <div style="font-size: 18px; color: white; margin-left: 10px;">Duration</div>
            <button class="plus-button" style="margin-left: 100px; cursor: pointer;visibility: hidden;">+</button>
        </div>
    </div>
    <div class="songbox" id="221">
        <div style="display: flex; align-items: center;">
            <div style="font-size: 18px; color: white; margin-right: 10px;">1</div>
            <div class="song-name" style="flex: 1; text-align: center; color: white; font-size: 18px;">Good Guy</div>
            <div class="song-duration" style="font-size: 18px; color: white; margin-left: 10px;">2:22</div>
<button class="plus-button" title="Add To Playlist" style="margin-left: 100px; cursor: pointer;">+</button>
        </div>
    </div>
    <div class="songbox" id="222">
        <div style="display: flex; align-items: center;">
            <div style="font-size: 18px; color: white; margin-right: 10px;">2</div>
            <div class="song-name" style="flex: 1; text-align: center; color: white; font-size: 18px;">Lucky You</div>
            <div class="song-duration" style="font-size: 18px; color: white; margin-left: 10px;">4:05</div>
<button class="plus-button" title="Add To Playlist" style="margin-left: 100px; cursor: pointer;">+</button>
        </div>
    </div>
    <div class="songbox" id="223">
        <div style="display: flex; align-items: center;">
            <div style="font-size: 18px; color: white; margin-right: 10px;">3</div>
            <div class="song-name" style="flex: 1; text-align: center; color: white; font-size: 18px;">The Ringer</div>
            <div class="song-duration" style="font-size: 18px; color: white; margin-left: 10px;">5:38</div>
<button class="plus-button" title="Add To Playlist" style="margin-left: 100px; cursor: pointer;">+</button>
        </div>
    </div>
    <div class="songbox" id="224">
        <div style="display: flex; align-items: center;">
            <div style="font-size: 18px; color: white; margin-right: 10px;">4</div>
            <div class="song-name" style="flex: 1; text-align: center; color: white; font-size: 18px;">Venom</div>
            <div class="song-duration" style="font-size: 18px; color: white; margin-left: 10px;">4:30</div>
<button class="plus-button" title="Add To Playlist" style="margin-left: 100px; cursor: pointer;">+</button>
        </div>
    </div>
    <div class="songbox" id="225">
        <div style="display: flex; align-items: center;">
            <div style="font-size: 18px; color: white; margin-right: 10px;">5</div>
            <div class="song-name" style="flex: 1; text-align: center; color: white; font-size: 18px;">Kamikaze</div>
            <div class="song-duration" style="font-size: 18px; color: white; margin-left: 10px;">3:36</div>
<button class="plus-button" title="Add To Playlist" style="margin-left: 100px; cursor: pointer;">+</button>
        </div>
    </div>
    <br><br><br><br><br>

    <script src="../static/script.js"></script>
</body>

</html>