body {
    /* background-image: url("marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg"); */
    background-image: url(oscar-keys-ojVMh1QTVGY-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #810CA8;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 1;
    /* box-shadow: 0px 1px 5px #BC6FF1; */
}

nav ul {
    margin: 0%;
    padding: 0;
    list-style: none;
    float: right;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    padding: 20px 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    display: inline-block;
    position: relative;
}

.logo {
    float: left;
    position: relative;
    right: 4%;
    margin-left: 5%;
    padding: px 0;
}

.logo img {
    height: 60px;
    width: 62px;
    filter: invert(100%);
    transition: opacity .8s;

    transition: all 0.3s ease-in-out 0s;
}

.logo img.logo_hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .3s;
}

nav:hover img.logo_hover {
    opacity: 1;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

nav:hover img.logo_main {
    opacity: 0;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}


.logo h1 {
    display: inline-block;
    margin: 0;
    padding: 15px 10px;
    font-size: 30px;
    font-weight: 900;
    margin-left: 0%;
    vertical-align: top;
    color: white;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: pink;
}

/* selected link */
a:active {
    color: pink;
}

nav a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: pink;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 0.4s ease;
}

nav a:hover:after {
    width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.box {
    display: inline-flex;
    border-radius: 5%;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: transparent;
    margin-left: 9%;
    position:relative; 
}

.container {
    text-align: center;
    display: inline;
    margin-right: 20%;
}

.box img {
    border-style: solid;
    border-radius: 5%;
    border-color: white;
    height: 300px;
    width: 300px;
    z-index: -2;
    opacity: 100%;
    box-shadow: 33px 23px rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}

.box:hover img{
    transition: all 0.4s ease-in-out 0s;
    transform: scale(1.1);
    box-shadow: 33px 23px rgba(0, 0, 0, 0.4);
    border-color: rgb(246, 255, 0);
    /* filter: blur(2px); */
     /* box-shadow: 0px 0px 20px 5px rgb(40,40,40);  */
}

.topThree {
    /* width: 80%;
    height: 20%; */
    text-align: center;
    color: white;
}

.topThree p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 85px;

}
.overlay {
    position:absolute; 
    margin-top: 45%;
    margin-left: 45%;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
    background-color: gray;
    transition: .5s ease;
    border-style: 0 solid;
    border-radius: 3.8%;
    border-color: white;
  }
  .box:hover .overlay {
    opacity: 0.5;
    transition: all 0.4s ease-in-out 0s;
    transform: scale(1.1);
  }
  .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }